*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0; 
    padding: 0; 
    overflow-x: hidden; 
    box-sizing: border-box; 
}

.header{
    width: 100vw;
    height: 40vh;
    background-color: #0D0B1D;
}

.logo-img{
    text-align: center;
    padding-top: 20px;
}

.fa-cart-shopping{
    font-size: 50px;
    color: white;
    text-align: end;
    width: 100vw;
    padding-right: 50px;
}

.nav-menu{
    margin-top: -30px;
}

.nav-manu-ul{
    padding-top: 80px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;

}

.nav-menu a{
    color: white;
    font-size: 30px;
    text-decoration: none;
}

.nav-menu__hem-knapp{
    color: orange !important;
}

.nav-menu__hem-knapp-hover:hover{
    color: orange;
}


section{
    margin-top: 20px;
    width: 100%; 
    overflow-x: hidden; 
    text-align: center;
}

section h1{
    font-size: 40px;
    color: #A93333;
}

.seaction_header{
    margin: 40px 0;
}
section .section__button{
    width: 420px;
    font-size: 16px;
    margin-top: 5px;
    padding: 10px 0;
    background-color: #0D0B1D;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

section .section__button:hover{
    width: 420px;
    font-size: 17px;
    background-color: #1a1638;
    color: rgb(211, 209, 209);
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    border: none;
    outline: none;
}


/* Produkter Section */
.produkter {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    padding: 40px 20px; 
    max-width: 100%;

}


.produkt-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 0 10%; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* section bild  */
.produkt-item img {
    width: 320px; 
    max-width: 320px; 
    height: auto;
    border-radius: 10px; 
    margin-bottom: 10px;
}

/* Product beskrivning text */
.produkt-p {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
}

/* .produkt-och-text {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 484px 484px;
    justify-content: space-evenly;
}
.utförska-btn{
    background-color: #A93333;
    width: 200px;
    border-radius: 10px;
}

.utförska-btn:hover{
    background-color: #932c2c;
    width: 220px;
    font-size: 22px;
    border-radius: 10px;
}



.articel-4{
    padding-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
} */

/* .articel-4 h2{
    padding: 10px 0;
    font-size: 40px;
    text-align: start;
}

.articel-4 p{
    font-size: 30px;
    padding: 10px 0;
} */

/* "Våra klassiker" */
.klassiker-section {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    padding: 40px 20%;
    background-color: white; 
    max-width: 100%; 
    margin: 0 auto; 
}

/* "Våra klassiker" bild och text */
.klassiker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 80%; 
}

/* "Våra klassiker" bild  */
.klassiker-image img {
    width: 320px; 
    max-width: 320px;
    height: auto;
    border-radius: 10px;
    margin-left: -60px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* "Våra klassiker" text */
.klassiker-text {
    max-width: 400px;
    text-align: left;
    margin-left: 80px; 
}

/* h2 "Våra klassiker" */
.klassiker-text h2 {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
}

/* p "Våra klassiker"  */
.klassiker-text p {
    font-size: 16px;
    color: #555555;
    line-height: 1.8;
    margin-bottom: 20px;
}

/* "Våra klassiker" utförska knappen */
.utforska-btn {
    background-color: #A93333;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* "Våra klassiker" knappen när man lägger mus på den */
.utforska-btn:hover {
    background-color: #932c2c;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}


/* Footerr */

footer{
    margin-top: 80px;
    height: 20vh;
    background-color: #0d0b1d83;

    overflow-x: hidden;
}

footer address{
    color: white;
}

.follow{
    margin-top: 35px;
}
.follow h2{
    color: white;
}

.adress-och-follow{
    display: grid;
    grid-template-columns: auto 1fr;
}

.adress{
    margin-top: 35px;
    padding-left: 200px;
    font-size: 25px;
}

.social-media{
    margin-top: 10px;
}
.fa-square-instagram, .fa-facebook, .fa-youtube{
    font-size: 40px;
    margin-left: 10px;
}

.fa-square-instagram{
    color: #bb284d;
}

.fa-facebook{
    color: rgb(37, 37, 166);
}

.fa-youtube{
    color: rgba(255, 0, 0, 0.828);
}

.produkter_hover:hover{
    color: orange;
}





/* Produkter.html */

.produkter__color{
    color: orange !important;
}

.produkter__html {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
    justify-content: center; 
    padding: 40px 20px; 
    max-width: 100%;
    background-color: #efefef77; 
}


.produkt-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    margin: 0 10%; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

/* section bild  */
.produkt-items img {
    width: 320px; 
    max-width: 320px; 
    height: auto;
    border-radius: 10px; 
    margin-bottom: 10px;
}

/* Product beskrivning text */
.produkt-h2 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}
.produkt-items p{
    padding: 15px;
}

/* Köp button */
.utforska-btns {
    background-color: #A93333;
    color: #ffffff;
    font-size: 16px;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.utforska-btns:hover {
    background-color: #932c2c;
    transform: scale(1.05);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.om_oss_nav:hover{
    color: orange;
}

/* About.html */

.about_color{
    color: orange !important;
}

.produkter__color_about{
    color: white !important;
}

.produkter__color_about:hover{
    color: orange !important;
}

.about__title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    background-color: #4b4861;
    margin: 0;
}

.about__title h1{
    color: #fff600;
}

.text_och_bild{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.about__text{
    font-size: 30px;
    width: 30%;
    height: 75vh;
}
.about__bild{
    width: 30%;
    height: 50vh;
}

.about__bild img{
    height: 600px;
}

.kontakt:hover{
    color: orange;
}

.about_color_kontakt{
    color: white !important;
}

.about_color_kontakt:hover{
    color: orange !important;
}







/* kontakt.html */

.kontakt-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    background-color: #efefef;
}

.kontaktformulär, .faq-section {
    width: 40%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.kontaktformulär h2, .faq-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0D0B1D;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group textarea {
    resize: none;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group input::placeholder, .form-group textarea::placeholder {
    color: #88888898;
}

.send-button {
    display: block;
    width: 100%;
    background-color: #A93333;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #932c2c;
}

.faq-section .faq-menu ul {
    list-style-type: none;
    padding: 0;
}

.faq-section .faq-menu li {
    margin: 10px 0;
    padding: 5px 0;
}

.faq-section .faq-menu a {
    color: #333;
    text-decoration: none;
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    padding: 0 50px;
}

.faq-section .faq-menu a:hover {
    color: #A93333;
    text-decoration: underline;
}

.kontakt_color{
    color: orange !important;
}






/* Mobil skärm, */

@media (min-width: 376px) and (max-width: 575px) {
    /* css som ska finnas här kommer användas till på skärmar mellan 376px och 575px breda */
    *{
        margin: 0;
        padding: 0; 
    }
    
    body {
        margin: 0; 
        padding: 0; 
        overflow-x: hidden; 

    }
    /* index.html */
    .header {
        height: 25vh; 
    }

    .logo-img img {
        width: 350px; 
        margin-top: 10px;
    }

    .cart-btn{
        overflow-x: hidden;
    }
    .fa-cart-shopping {
        font-size: 30px; 
        padding-right: 20px;
        overflow-x: hidden;
    }

    .nav-manu-ul {
        padding-top: 60px;
        display: flex;
        justify-content: space-evenly;
    }

    .nav-menu a {
        font-size: 18px; 
    }

    section h1 {
        margin-top: 0px;
        font-size: 24px; 
    }

    section .section__button {
        width: 300px; 
        font-size: 14px;
        padding: 8px 16px;
        margin-top: 15px;
    }
    section .section__button:hover{
        width: 320px;
        font-size: 15px;
        background-color: #1a1638;
        color: rgb(211, 209, 209);
        transform: scale(1.05);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        border: none;
        outline: none;
    }
    .produkter__height{
        height: 40vh;
        background-color: #efefef77; 
        padding-top: 10px;
    }

    .produkter {
        grid-template-columns: 220px 220px; 
        padding: 20px 1px;
    }

    .produkt-item img {
        width: 200px; 
        height: 150px;
        max-width: 100%;
    }

    .produkt-p {
        font-size: 16px;

        color: #333;
        margin-top: 10px;
    }

    .klassiker-section__height{
        padding-top: 60px;
    }
    .klassiker-section {
        grid-template-columns: 1fr; 
        padding: 20px 10%;
    }

    .klassiker-image img {
        width: 100%;
        max-width: 100%;
    }

    .klassiker-text {
        margin-left: 0;
        text-align: center;
    }

    .klassiker-text h2 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .klassiker-text p {
        font-size: 14px;
        color: #555555;
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .utforska-btn {
        font-size: 14px;
    }
    /* slut på index.html */

    /* produkter.html */
    .seaction_header{
        margin-top: 0px;
    }
    .produkter__html {
        display: flex;
        flex-direction: column; 
        padding: 10px; 
        align-items: center;
    }

    .produkt-items {
        display: flex;
        width: 100%; 
        align-items: center; 
        text-align: left; 
        padding: 10px; 
        margin-bottom: 20px; 
    }

    .första_item{
        margin-top: 30px;
    }

    .produkt-items img {
        width: 50%; 
        height: auto; 
        margin-right: 20px; 
        margin-top: 25px;
    }

    .produkt-h2, .produkt-p {
        flex-grow: 1; 
        margin: 0; 
    }

    .utforska-btns {
        padding: 12px 30px; 
        font-size: 14px; 
        width: auto; 
        margin-top: 10px; 
        margin-bottom: 15px;
    }
    /* slut på produkter */

    /* About.html mobil */
    .about__title {
        height: 14vh; 
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about__title h1 {
        font-size: 24px; 
    }
    .margin_for_text_och_bild{
        margin-top: 50px;
    }
    .text_och_bild {
        flex-direction: row; 
        align-items: center; 
        padding: 10px; 
        margin-top: 0; 
    }

    .about__text, .about__bild {
        width: 50%; 
    }

    .about__text {
        font-size: 14px; 
        padding: 0 10px; 
        height: auto; 
        order: 2; 
    }

    .about__bild {
        width: 40%; 
        height: auto; 
        order: 1; 
        padding-right: 10px; 
    }

    .about__bild img {
        width: 100%; 
        height: auto; 
    }
    /* SlutPÅ About.html mobil */

    /* mobil skärm Kontakt.html */

    .kontakt-container {
        flex-direction: column;
        align-items: center;
        padding: 30px 50px;
    }

    .kontaktformulär, .faq-section {
        width: 100%;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .faq-section {
        order: 1;
    }

    .kontaktformulär {
        order: 2;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group input, 
    .form-group textarea {
        font-size: 14px;
        padding: 8px;
    }

    .send-button {
        padding: 10px 20px;
        width: auto;
    }

    .faq-menu ul {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .faq-menu li {
        margin-bottom: 10px;
    }
    
    .faq-menu a {
        font-size: 16px;
    }
    /* slut på mobil skärm Kontakt.html */


    /* mobil skärm Footer */

    .adress, .follow {
        text-align: center; 
        padding: 0 10px; 
    }

    footer{
        height: 20vh;
        overflow-x: hidden;
    }
    .adress-och-follow {
        grid-template-columns: auto 1fr;
    }

    .follow h2{
        color: white;
        font-size: 24px;
    }
    .adress {
        font-size: 18px;
        padding-left: 20px; 
    }

    .social-media {
        justify-content: center; 
    }

    .follow {
        margin-top: 20px;
    }
    .fa-brands{
        padding-right: 10px;
    }
}
